<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <title>{{website_title}}</title>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.js"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.min.map"></script>
    </head>
    <body>
        {#% if temperature_list %#}
        {#% with post_list=temperature_list %#}
        {#% for post in post_list %#}
        {#{post.time|time:"H:i" }#}
        {#{post.value}#}
        <!-- <br/> -->
        {#% endfor %#}
        {#% endwith %#}
        {#% endif %#}
        {% load static %}
        <div id="messagecontainer">
            <img id="plot_file" src={% static "TM/plot.png"%}></img>
        </div>
        <button type="button" id='ON' class="btn btn-default">开启</button>
        <button type="button" id='OFF' class="btn btn-default">关闭</button>
        <div>
            Led pin is now:
            <p id="on_off_value">
                {% ifequal on_off 1 %}
                    on
                {% else %}
                    off
                {% endifequal %}
            </p>
        </div>
        <script>
         $(document).ready(function(){
             $("#ON").click(function(){
                 $.get("{% url 'index-view' %}", {'on_off_button':1}, function(ret){
                     $('#on_off_value').html('') //清空前面的结果
                     $('#on_off_value').html(ret) //
                 })
             });
             $("#OFF").click(function(){
                 $.get("{% url 'index-view' %}", {'on_off_button':0}, function(ret){
                     $('#on_off_value').html('') //清空前面的结果
                     $('#on_off_value').html(ret) //
                 })
             });
         });
         $(function() {
             var intervalMS = 10000; // 10 seconds
             setInterval(function() {
                 $.get("{% url 'index-plot-view' %}");
                 /* 更新整个页面； */
                 /* location.reload(true);*/
                 /* 改变图片src信息，在src后面加query string强制浏览器更新图片而不是使用cache。 */
                 $('#plot_file').attr('src', $('#plot_file').attr('src') + '?_=' + new Date().getTime());
             }, intervalMS);
         });
        </script>
    </body>
</html>
